
div{
    align-self: center;
}


.listContainer{
    width: 50%;
    height: 500px;
    box-shadow: 5px 5px 5px #000000;
    background-color: lightgrey;
    border-radius: 5px;
    justify-self: center;
}


.listDisplay{
        width: 80%;
        height: 450px;
        box-shadow: 5px 5px 5px #90e0ef;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        justify-self: center;
}


/*
=====================================================================
Bookmark Ratings
=====================================================================
*/
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:rgb(0, 179, 15);
    color:rgb(202, 0, 0);
}


/*
=====================================================================
Collapsible Description
=====================================================================
*/

.collapsible {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 25px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(63, 126, 168);
    color: rgb(255, 255, 255);
  }
  
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: rgb(185, 0, 0);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }



/*
=====================================================================
Mobile Use
=====================================================================
*/

@media all and (max-width: 600px) {
    /* nav {
        display: none;
    } */

    head { 
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    p {
        font-size: 12px;
    }

    .borderOne {
        border-radius: 5px;
        width: 50%;
        height: 15%;
    }

    form {
        width: 75%;
    }

    h1 {
        font-size: 18px;
    }
}

.active {
    z-index: 99;
}








